In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(['EIN', 'NAME'], axis=1)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Look at APPLICATION_TYPE value counts for binning
app_type_counts = application_df['APPLICATION_TYPE'].value_counts()
app_type_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [4]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(app_type_counts[app_type_counts < 528].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df['CLASSIFICATION'].value_counts()
classification_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [6]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts_2 = classification_counts[classification_counts.gt(1)]
classification_counts_2

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [7]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`

classifications_to_replace = list(classification_counts[classification_counts < 1918].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     4144
C3000     1918
Name: CLASSIFICATION, dtype: int64

In [8]:
# Convert categorical data to numeric with `pd.get_dummies`
app_df = pd.get_dummies(application_df)

In [9]:
# Split our preprocessed data into our features and target arrays
y = app_df['IS_SUCCESSFUL']
X = app_df.drop(columns='IS_SUCCESSFUL')

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [10]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [11]:

# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=80, activation="relu", input_dim=42))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=30, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                3440

 dense_1 (Dense)             (None, 30)                2430

 dense_2 (Dense)             (None, 1)                 31

=================================================================
Total params: 5901 (23.05 KB)
Trainable params: 5901 (23.05 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [12]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [13]:
# Train the model
model = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 1s 598us/step - loss: 0.5726 - accuracy: 0.7202
Epoch 2/50
804/804 [==============================] - 0s 583us/step - loss: 0.5599 - accuracy: 0.7271
Epoch 3/50
804/804 [==============================] - 0s 586us/step - loss: 0.5571 - accuracy: 0.7282
Epoch 4/50
804/804 [==============================] - 0s 548us/step - loss: 0.5550 - accuracy: 0.7287
Epoch 5/50
804/804 [==============================] - 0s 536us/step - loss: 0.5530 - accuracy: 0.7297
Epoch 6/50
804/804 [==============================] - 0s 533us/step - loss: 0.5538 - accuracy: 0.7289
Epoch 7/50
804/804 [==============================] - 0s 548us/step - loss: 0.5528 - accuracy: 0.7296
Epoch 8/50
804/804 [==============================] - 0s 555us/step - loss: 0.5514 - accuracy: 0.7306
Epoch 9/50
804/804 [==============================] - 0s 542us/step - loss: 0.5507 - accuracy: 0.7317
Epoch 10/50
804/804 [==============================] - 0s 553us/step - loss: 0.5503 - accuracy: 0.7293
Epoch 11/50
804/804 [==============================] - 0s 549us/step - loss: 0.5497 - accuracy: 0.7317
Epoch 12/50
804/804 [==============================] - 0s 543us/step - loss: 0.5497 - accuracy: 0.7328
Epoch 13/50
804/804 [==============================] - 0s 548us/step - loss: 0.5486 - accuracy: 0.7323
Epoch 14/50
804/804 [==============================] - 0s 542us/step - loss: 0.5488 - accuracy: 0.7320
Epoch 15/50
804/804 [==============================] - 0s 538us/step - loss: 0.5481 - accuracy: 0.7331
Epoch 16/50
804/804 [==============================] - 0s 555us/step - loss: 0.5479 - accuracy: 0.7342
Epoch 17/50
804/804 [==============================] - 0s 544us/step - loss: 0.5480 - accuracy: 0.7327
Epoch 18/50
804/804 [==============================] - 0s 544us/step - loss: 0.5474 - accuracy: 0.7337
Epoch 19/50
804/804 [==============================] - 0s 537us/step - loss: 0.5474 - accuracy: 0.7333
Epoch 20/50
804/804 [==============================] - 0s 545us/step - loss: 0.5469 - accuracy: 0.7338
Epoch 21/50
804/804 [==============================] - 0s 542us/step - loss: 0.5467 - accuracy: 0.7326
Epoch 22/50
804/804 [==============================] - 0s 548us/step - loss: 0.5456 - accuracy: 0.7352
Epoch 23/50
804/804 [==============================] - 0s 542us/step - loss: 0.5462 - accuracy: 0.7351
Epoch 24/50
804/804 [==============================] - 0s 543us/step - loss: 0.5454 - accuracy: 0.7353
Epoch 25/50
804/804 [==============================] - 0s 550us/step - loss: 0.5456 - accuracy: 0.7357
Epoch 26/50
804/804 [==============================] - 0s 550us/step - loss: 0.5454 - accuracy: 0.7344
Epoch 27/50
804/804 [==============================] - 0s 543us/step - loss: 0.5454 - accuracy: 0.7353
Epoch 28/50
804/804 [==============================] - 0s 544us/step - loss: 0.5448 - accuracy: 0.7340
Epoch 29/50
804/804 [==============================] - 0s 544us/step - loss: 0.5448 - accuracy: 0.7353
Epoch 30/50
804/804 [==============================] - 0s 550us/step - loss: 0.5448 - accuracy: 0.7364
Epoch 31/50
804/804 [==============================] - 0s 547us/step - loss: 0.5446 - accuracy: 0.7359
Epoch 32/50
804/804 [==============================] - 0s 542us/step - loss: 0.5440 - accuracy: 0.7353
Epoch 33/50
804/804 [==============================] - 0s 539us/step - loss: 0.5442 - accuracy: 0.7355
Epoch 34/50
804/804 [==============================] - 0s 557us/step - loss: 0.5445 - accuracy: 0.7350
Epoch 35/50
804/804 [==============================] - 0s 551us/step - loss: 0.5440 - accuracy: 0.7358
Epoch 36/50
804/804 [==============================] - 0s 541us/step - loss: 0.5437 - accuracy: 0.7350
Epoch 37/50
804/804 [==============================] - 0s 561us/step - loss: 0.5435 - accuracy: 0.7358
Epoch 38/50
804/804 [==============================] - 0s 560us/step - loss: 0.5437 - accuracy: 0.7361
Epoch 39/50
804/804 [==============================] - 0s 564us/step - loss: 0.5433 - accuracy: 0.7360
Epoch 40/50
804/804 [==============================] - 0s 555us/step - loss: 0.5433 - accuracy: 0.7365
Epoch 41/50
804/804 [==============================] - 0s 540us/step - loss: 0.5430 - accuracy: 0.7357
Epoch 42/50
804/804 [==============================] - 0s 536us/step - loss: 0.5425 - accuracy: 0.7367
Epoch 43/50
804/804 [==============================] - 0s 547us/step - loss: 0.5425 - accuracy: 0.7365
Epoch 44/50
804/804 [==============================] - 0s 555us/step - loss: 0.5426 - accuracy: 0.7363
Epoch 45/50
804/804 [==============================] - 0s 547us/step - loss: 0.5427 - accuracy: 0.7366
Epoch 46/50
804/804 [==============================] - 0s 539us/step - loss: 0.5427 - accuracy: 0.7368
Epoch 47/50
804/804 [==============================] - 0s 551us/step - loss: 0.5423 - accuracy: 0.7365
Epoch 48/50
804/804 [==============================] - 0s 552us/step - loss: 0.5422 - accuracy: 0.7369
Epoch 49/50
804/804 [==============================] - 0s 555us/step - loss: 0.5423 - accuracy: 0.7364
Epoch 50/50
804/804 [==============================] - 0s 547us/step - loss: 0.5419 - accuracy: 0.7368

In [14]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5574 - accuracy: 0.7276 - 138ms/epoch - 516us/step
Loss: 0.557366132736206, Accuracy: 0.727580189704895

In [15]:
# Export our model to HDF5 file
nn.save('AlphabetSoupCharity_Optimization.h5')

/Users/Cory/anaconda3/envs/dev/lib/python3.10/site-packages/keras/src/engine/training.py:3079: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(